<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body{background: skyblue; font-family: Verdana; color: #fff; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 16px; text-align: center;}
         button {font-size: 26px; display: flex; margin: auto; align-items: center; text-align: center; justify-content: center; } 
    </style>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='style.css'> -->
    <script src='app2.js'></script>
    <script type="text/javascript">
        function check(){
            console.log("hello g");
        }

    </script>
</head>
<br>
    <h1>Welcome to this AWESOME page.</h1>
    <p>You will find interesting stuff here.</p>

    <button type="button" onclick="check()">Create Invitation</button></br>
    <!-- <button type="button">Release Credential</button></br>
    <button type="button">Proof Request</button> -->


    </body>
</html>